.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mat-radio-group {
    display: flex;
    margin: 15px 0;
}
  
.mat-radio-button {
    margin: 5px;
}
