.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.selection-card {
    max-width: 391px;
    margin: 0 10px 0 0;
}

.mat-radio-group {
    display: flex;
    margin: 15px 0;
}
  
.mat-radio-button {
    margin: 5px;
}
