<mat-card>
    <mat-card-header>
        <mat-card-title>House Configuration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input matInput type="text" name="jobNumber" placeholder="Job Number" [ngModel]="(house | async)?.jobNumber"
                (ngModelChange)="houseDoc.update({jobNumber: $event})">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="label" placeholder="Title" [ngModel]="(house | async)?.label"
                (ngModelChange)="houseDoc.update({label: $event})">
        </mat-form-field>
    </mat-card-content>

    <mat-accordion>
        <mat-expansion-panel *ngFor="let section of sections">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{section.label}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let step of section.steps">
                <h2>{{step.label}}</h2>
                <div *ngFor="let item of step.items">
                    <h3>{{item.label}}</h3>
                    <mat-form-field *ngIf="item.hasOwnProperty('markup')">
                        <mat-label>Markup</mat-label>
                        <textarea matInput placeholder="in %" [(ngModel)]="item.markup"></textarea>
                    </mat-form-field>
                    <mat-form-field *ngIf="item.hasOwnProperty('quantity')">
                        <mat-label>Quantity</mat-label>
                        <textarea matInput [placeholder]="item.quantityLabel" [(ngModel)]="item.quantity"></textarea>
                    </mat-form-field>
                    <div *ngFor="let option of item.options">
                        <mat-form-field>
                            <mat-label>{{option.label}}</mat-label>
                            <textarea matInput placeholder="Total Cost" [(ngModel)]="option.cost"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <mat-action-row>
                <button mat-button (click)="save()">SAVE</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-card-actions>
        <button mat-button (click)="navigateToClient()">
            Open Addenda Selection
        </button>
        <button mat-button (click)="copyToClipboard()">Copy URL</button>
    </mat-card-actions>
</mat-card>