<mat-vertical-stepper #stepper (selectionChange)="onStepChange($event)">
    <mat-step [stepControl]="concreteFormGroup">
        <form [formGroup]="concreteFormGroup">
            <ng-template matStepLabel>Concrete</ng-template>
            <label id="termite-control-group-label">Termite Control</label>
            <mat-radio-group aria-labelledby="termite-control-group-label">
                <mat-radio-button value="Termi Mesh">Termi Mesh</mat-radio-button>
                <mat-radio-button value="Termite Treatment">Termite Treatment</mat-radio-button>
            </mat-radio-group>
            <label id="ground-slab-group-label">Ground Slab</label>
            <mat-radio-group aria-labelledby="ground-slab-group-label">
                <mat-radio-button value="85 mm">85 mm</mat-radio-button>
                <mat-radio-button value="100 mm">100 mm</mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="brickworkFormGroup">
        <ng-template matStepLabel>Brickwork</ng-template>
        <app-brick-selection [onOpenEvent]="onBrickworkOpenEvent.asObservable()" [markup]="clientSettings.markup"
            [numberOfBricks]="clientSettings.numberOfBricks">
        </app-brick-selection>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="roofFormGroup">
        <ng-template matStepLabel>Roof</ng-template>
        <label id="roof-type-group-label">Roof Type</label>
        <mat-radio-group aria-labelledby="roof-type-group-label">
            <mat-radio-button value="Colorbond">Colorbond</mat-radio-button>
            <mat-radio-button value="Tiles">Tiles</mat-radio-button>
        </mat-radio-group>

        <label id="downpipes-type-group-label">Downpipes Type</label>
        <mat-radio-group aria-labelledby="downpipes-type-group-label">
            <mat-radio-button value="Rectangular">Rectangular</mat-radio-button>
            <mat-radio-button value="Round">Round</mat-radio-button>
        </mat-radio-group>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-vertical-stepper>