<mat-vertical-stepper #stepper>
    <mat-step [stepControl]="concreteFormGroup">
        <form [formGroup]="concreteFormGroup">
            <ng-template matStepLabel>Concrete</ng-template>
            <label id="termite-control-group-label">Termite Control</label>
            <mat-radio-group aria-labelledby="termite-control-group-label">
                <mat-radio-button value="Termi Mesh">Termi Mesh</mat-radio-button>
                <mat-radio-button value="Termite Treatment">Termite Treatment</mat-radio-button>
            </mat-radio-group>
            <label id="ground-slab-group-label">Ground Slab</label>
            <mat-radio-group aria-labelledby="ground-slab-group-label">
                <mat-radio-button value="85 mm">85 mm</mat-radio-button>
                <mat-radio-button value="100 mm">100 mm</mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="brickworkFormGroup">
        <form [formGroup]="brickworkFormGroup">
            <ng-template matStepLabel>Brickwork</ng-template>

            <button mat-button routerLink="/client/bricks">Select Face Bricks</button>
            <app-brick-selection></app-brick-selection>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-vertical-stepper>