<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<h2>Job Number: {{jobNumber}}</h2>
<mat-vertical-stepper #stepper *ngIf="!isLoading">
    <mat-step *ngFor="let step of section.steps; index as i">
        <ng-template matStepLabel>{{step.label}}</ng-template>
        <app-dynamic-form [step]="step" (submit)="submit($event)">
        </app-dynamic-form>
        <div>
            <button mat-button matStepperPrevious *ngIf="i>0">Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <pre>{{addendaStore.get() | json}}</pre>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="addendaStore.clear(); stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-vertical-stepper>