<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<mat-vertical-stepper #stepper *ngIf="!isLoading">
    <mat-step *ngFor="let collection of dynamicForm?.collections; index as i">
        <ng-template matStepLabel>{{dynamicForm.labels[i]}}</ng-template>
        <app-dynamic-form [fieldsUrl]="'dynamic-form/'+collectionId" [step]="collection" (submit)="submit($event)">
        </app-dynamic-form>
        <div>
            <button mat-button matStepperPrevious *ngIf="i>0">Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="addendaStore.clear(); stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-vertical-stepper>