<mat-card class="selection-card" [style.background-color]="item.colour">
    <mat-card-header>
        <mat-card-title>{{item.label}}</mat-card-title>
        <mat-card-subtitle>{{item.supplier}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="item.imageUrl">
    <mat-card-actions>
        <span *ngIf="isItemSelected">
            <mat-checkbox [checked]="true" (click)="changeSelection()">
                {{getFormattedTotal(item.price)}}
            </mat-checkbox>
            <button mat-button (click)="changeSelection()">Change</button>
        </span>

        <span *ngIf="!isItemSelected">
            <mat-checkbox [name]="item.value" (click)="selectItem(item.id, item.value)"
                [checked]="isSelected(item.value)">
                {{getFormattedTotal(item.price)}}
            </mat-checkbox>
            <button mat-button (click)="makeSelection(item.id, item.value)">Select</button>
        </span>
    </mat-card-actions>
</mat-card>