<mat-card class="selection-card" [style.background-color]="item.colour">
    <mat-card-header>
        <mat-card-title>{{item.label}}</mat-card-title>
        <mat-card-subtitle>{{item.supplier}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="item.imageUrl">
    <mat-card-actions>
        {{getFormattedTotal(item.price)}}
        <span *ngIf="isItemSelected">
            <button mat-button (click)="changeSelection()">Change</button>
        </span>
        <span *ngIf="!isItemSelected">
            <button mat-button (click)="makeSelection(item)">Select</button>
        </span>
    </mat-card-actions>
</mat-card>