<mat-card class="selection-card" *ngIf="item">
    <img mat-card-image [src]="item.imageUrl">
    <div *ngIf="item.colour" class="card-image" [style.background-color]="item.colour"> </div>
    <mat-card-header>
        <mat-card-title>{{item.label}}</mat-card-title>
        <mat-card-subtitle>{{item.supplier}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        {{getFormattedTotal(item.totalCost)}}
        <span *ngIf="isItemSelected">
            <button mat-button (click)="changeSelection()">Change</button>
        </span>
        <span *ngIf="!isItemSelected">
            <button mat-button (click)="makeSelection(item)">Select</button>
        </span>
    </mat-card-actions>
</mat-card>