<label id="roof-type-group-label">Roof Type</label>
<mat-radio-group aria-labelledby="roof-type-group-label" [(ngModel)]="selectedRoof">
    <mat-radio-button value="Colorbond">Colorbond</mat-radio-button>
    <mat-radio-button value="Tiles">Tiles</mat-radio-button>
</mat-radio-group>

<app-selection-card *ngIf="!showAllColours" [item]="selectedColour" [isItemSelected]="true" [numberOfItems]="1"
    [markup]="markup" (selectionChangeRequested)="changeSelection()">
</app-selection-card>

<div *ngIf="selectedRoof==='Colorbond' && showAllColours" class="cards">
    <app-selection-card *ngFor="let colour of colours" [item]="colour" [isItemSelected]="false" [numberOfItems]="1"
        [markup]="markup" (selectionChanged)="selectColour($event)">
    </app-selection-card>
</div>

<div *ngIf="selectedRoof==='Tiles' && showAllColours" class="cards">
    <app-selection-card *ngFor="let tile of tiles" [item]="tile" [isItemSelected]="false" [numberOfItems]="1"
        [markup]="markup" (selectionChanged)="selectColour($event)">
    </app-selection-card>
</div>

<label id="facia-colour-label">Facia Colour</label>
<div *ngIf="true" class="cards">
    <app-selection-card *ngFor="let facia of colours" [item]="facia" [isItemSelected]="false" [numberOfItems]="1"
        [markup]="markup" (selectionChanged)="selectColour($event)">
    </app-selection-card>
</div>

<label id="downpipes-type-group-label">Downpipes Type</label>
<mat-radio-group aria-labelledby="downpipes-type-group-label">
    <mat-radio-button value="Rectangular">Rectangular</mat-radio-button>
    <mat-radio-button value="Round">Round</mat-radio-button>
</mat-radio-group>