<mat-card>
    <mat-card-header>
        <mat-card-title>
            Houses
        </mat-card-title>
    </mat-card-header>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-card-actions>
        <button mat-button routerLink="/house/new">Add</button>
    </mat-card-actions>
    <mat-nav-list>
        <mat-list-item *ngFor="let house of houses | async" routerLink="/house/{{house.id}}">
            <h3 matLine> {{house.label}} </h3>
            <p matLine> {{house.jobNumber}} </p>
        </mat-list-item>
    </mat-nav-list>
</mat-card>